# Download the docekr setup script on one of the node(manager)
curl -fsSL https://get.docker.com -o get-docker.sh
sudo sh get-docker.sh 

# Initialize docker swarm with manager IP

docker swarm init --advertise-addr 137.184.17.53

docker node ls
ID                            HOSTNAME   STATUS    AVAILABILITY   MANAGER STATUS   ENGINE VERSION
wcxukzg7ad03eitjj5eu94m8e *   node-01    Ready     Active         Leader           20.10.8
vy33xaf718dxb3clwfnsaomv4     node-02    Ready     Active         Reachable        20.10.8
7fa82q84knmkfneef68a9ag13     node-03    Ready     Active         Reachable        20.10.8

# Join the other node to the swarm cluster
docker swarm join --token <****TKN-1-2a211kz4k5q5xvkmxrb*********jfmzmcel42y> <Matser-IP>:2377
